/version1/data/eval/
/version1/data/images
/version1/data/net_weights
/version1/data/test/images
/version1/data/test/reconstruction
/version1/data/train
__pycache__/
.idea/
*.h5
./version1.1/data/test/TSPLIB/*.tsp
*.tsp
*.npy